

.projectVideoDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: '#0f0f0f';
    z-index: 1;
}


.pjtFull {
    transition: all .1s ease;
}


.pjtRttxt h3, .pjtRttxt svg{
    opacity: 0;
    transform: translateY(20px);
    transition: all .5s ease;
}

.pjtFull:hover .pjtRttxt h3, .pjtFull:hover .pjtRttxt svg{
    opacity: 1;
    transform: translateY(0);
}