.overlay .elem  {
    animation-name: anim1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim1{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(100% - 20px));
    }
}

.socialDiv .overlay {
    top: 100%;
    transition: all 0.5s ease;

}

.socialDiv:hover .overlay {
    top: 0;
}