.cursor {
    --circle-size: 8px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    background-color:  white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
  
  }